/vendor
/node_modules
Homestead.yaml
/bootstrap/compiled.php
storage/.encryption_key
.env.*.php
.env.php
.env
*nohup.out*
*.sublime-workspace*
*.sublime-project*
*.sass-cache*
dashboard.sublime-workspace
composer.lock
public/css/*
public/js/*
